.section-title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  @extend %no-marker;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
  }
}

.features__item {
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin-right: 15px;
    margin-left: 15px;
  }

  @media screen and (min-width: $desktop) {
    margin: 0;
  }
}

.features__item:not(:last-child) {
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.features__icon {
  background-color: #f5f4fa;

  display: block;

  margin-bottom: 30px;
  padding: 25px 100px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: 100%;
  }
}

.features__title {
  color: $secondary-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;

  margin-bottom: 0;
}
