.footer-form {
  width: 570px;
  height: 86px;
  display: flex;
  align-items: flex-end;
}

.footer-form__title {
  @extend %footer-text;
}

.footer-form__input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding-left: 16px;
  margin-right: 12px;

  background-color: inherit;
  color: $hero-text-color;
}

.footer-form--subscribe {
  display: flex;
  align-items: center;
  padding-left: 29px;
}

.footer-form__icon {
  margin-left: 10px;
}
