.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    width: 570px;
    height: 86px;
    align-items: flex-end;
  }
}

.footer-form__container {
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.footer-form__title {
  @extend %footer-text;

  text-align: center;
}

.footer-form__input {
  width: 450px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  padding-left: 16px;
  margin-right: 12px;

  background-color: inherit;
  color: $hero-text-color;

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer-form--subscribe {
  display: flex;
  align-items: center;
  padding-left: 29px;
}

.footer-form__icon {
  margin-left: 10px;
}
