.media-box {
  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    width: 206px;
    height: 80px;
    flex-direction: column;

    margin-right: 93px;
  }
}

.media-box__title {
  @extend %footer-text;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.media-box__list {
  @extend %no-marker;

  display: flex;
  justify-content: center;
}

.media-box__item {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  align-items: center;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  &:nth-child(4) {
    margin-right: 0;
  }
}

.media-box__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-box__icon {
  fill: $hero-text-color;
}
