.head-address {
  @extend %no-marker;
  // @extend %hidden-header;

  // display: flex;
  // margin-left: auto;
  // align-items: center;
  padding-right: 50px;
}

.head-address__item:nth-child(1) {
  // margin-right: 30px;
}

.head-address__link {
  color: $primary-text-color;
  text-decoration: none;
  letter-spacing: 0.02em;

  font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;

  // display: flex;
  // align-items: center;

  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.head-address__link:hover,
.head-address__link:focus {
  .head-address__icon {
    fill: $accent-color;
  }
}

.head-address--position {
  position: absolute;
  top: 562px;
  left: 0;
  width: 100%;

  font-size: 34px;
  line-height: 1.17;
}

.head-address--size {
  position: absolute;
  top: 634px;
  left: 0;
  width: 100%;

  font-size: 24px;
  line-height: 1.16;
}

.head-address__icon {
  fill: $primary-text-color;
  // margin-right: 10px;

  transition: fill $transition-duration $transition-timing-function;
}
