.hero {
  text-align: center;
  padding: 118px 0;

  background-image: $gradient-hero, url(../images/background.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1600px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $gradient-hero,
      url("../images/mobile/bg/mob-background@2x.jpg");
  }

  @media screen and (min-width: $tablet) {
    background-image: $gradient-hero,
      url("../images/tablet/bg/tab-background.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $gradient-hero,
        url("../images/tablet/bg/tab-background@2x.jpg");
    }
  }

  @media screen and (min-width: $desktop) {
    margin: 0 auto;
    height: 600px;

    background-image: $gradient-hero,
      url("../images/desktop/bg/pc-background.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $gradient-hero,
        url("../images/desktop/bg/pc-background@2x.jpg");

      padding: 200px 0;
    }
  }
}

.hero__title {
  color: $white-color;

  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;

  font-size: 26px;
  line-height: 1.61;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.37;
  }
}
