.hero {
  text-align: center;
  padding: 200px 0;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;

  max-width: 1600px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1600px;
  }
}

.hero__title {
  color: $hero-text-color;

  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
