.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  display: flex;

  color: $primary-text-color;
}

.form__box {
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 11px 42px;
  margin-bottom: 10px;
  margin-top: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  &:focus {
    border: 1px solid $accent-color;
    outline: 0;
  }
}

.form__input:focus ~ .form__icon {
  fill: $accent-color;
}

.form__icon {
  position: absolute;
  top: 0;
  left: 14px;
}

.form__comment {
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border: 1px solid $accent-color;
    outline: 0;
  }

  &:not(:placeholder-shown) {
    color: $secondary-text-color;
  }
}
