.checkbox {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;

  color: $primary-text-color;

  align-items: center;
  justify-content: space-between;
  display: flex;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.form__checkbox {
  margin-bottom: 30px;
  margin-top: 20px;
}

.checkbox__visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox__visually-hidden:checked + .checkbox__icon {
  background-color: $accent-color;
  border: transparent;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid $secondary-text-color;

  margin-bottom: 3px;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    margin-right: 7px;
  }
}

.checkbox__link {
  color: $accent-color;
}
