.nav {
  display: flex;
  // align-items: center;
}

.nav__logo-link {
  color: $secondary-text-color;
  font-family: Raleway, sans-serif;
  text-decoration: none;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  margin-right: 88px;
  margin-bottom: 25px;
  margin-top: 24px;

  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
    margin-bottom: 25px;
    margin-top: 24px;
  }
}

.nav__logo {
  @extend %logo-span;
}

.nav__list {
  @extend %no-marker;
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  color: $secondary-text-color;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav__current {
  color: $accent-color;
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;

    background-color: currentColor;
    border-radius: 2px;
  }
}

.nav__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  .nav__icon-cross {
    display: none;
  }

  &.is-open .nav__icon-cross {
    display: block;
  }

  &.is-open .nav__icon-menu {
    display: none;
  }
}
