.nav {
  display: flex;
  // align-items: center;
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    height: 100%;
    width: 100%;

    &.is-open {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $hero-text-color;
      z-index: 999;
    }
  }

  & {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }

  & {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}

.nav__list {
  @extend %no-marker;
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;

    position: absolute;
    left: 40px;
    top: 48px;
  }
}

.nav__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.nav__link {
  color: $secondary-text-color;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: block;

  transition: color $transition-duration $transition-timing-function;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav__current {
  color: $accent-color;
  position: relative;

  @media screen and (min-width: 768px) {
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: -1px;

      background-color: currentColor;
      border-radius: 2px;
    }
  }
}

.nav__button {
  display: none;

  @media screen and (max-width: 767px) {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    z-index: 999;

    &.is-open {
      // position: fixed;
      // top: 10px;
      // right: 15px;
    }
  }

  .nav__icon-cross {
    display: none;
  }

  .nav__icon-menu {
    display: block;
  }

  &.is-open .nav__icon-cross {
    display: block;
  }

  &.is-open .nav__icon-menu {
    display: none;
  }
}
