.section-occupation {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.occupation-list {
  @extend %no-marker;

  display: flex;
  padding-bottom: 94px;
}

.occupation-list__item {
  position: relative;
  display: flex;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.occupation-list__pic {
  display: block;
}

.occupation-list__caption {
  background-color: rgba(47, 48, 58, 0.8);
  color: $white-color;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 370px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.occupation-list__text {
  margin: 0;
  padding: 0;
}
