.occupation {
  @extend %no-marker;

  display: flex;
  padding-bottom: 94px;
}

.occupation__item {
  position: relative;
  display: flex;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.occupation__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $hero-text-color;
  background-color: rgba(47, 48, 58, 0.8);
}

.occupation__text {
  margin: 0;
  padding: 0;
}
