.page-footer {
  background-color: #2f303a;
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    height: 252px;
  }

  &--align {
    // display: flex;
    // align-items: baseline;
  }
}
