.page-footer {
  background-color: #2f303a;
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    height: 252px;
  }

  &--align {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
    }
  }
}

.page-footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    align-items: baseline;
    margin-bottom: 0;
  }
}
