.page-header {
  border: 1px solid #ececec;

  &--justify {
    height: 80px;
  }

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
}
