.projects {
  @extend %no-marker;

  margin-bottom: 94px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
  }
}

.projects__item {
  margin-right: 30px;
  border: 1px solid #eeeeee;
  width: 450px;

  transition: box-shadow $transition-duration $transition-timing-function;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 440px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 404px;

    &:nth-child(n + 7) {
      margin-bottom: 0;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects__item:hover,
.projects__item:focus {
  .projects__box::before {
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(0);
  }
}

.projects__item:hover,
.projects__item:focus {
  .projects__text {
    transform: translateY(0);
  }
}

.projects__link {
  cursor: pointer;
}

.projects__box {
  position: relative;
  overflow: hidden;
  background-color: rgba(33, 150, 243, 0.9);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: "";
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform $transition-duration $transition-timing-function;
  }
}

.projects__pic {
  display: block;
  width: 100%;
}

.projects__text {
  margin: 0;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform $transition-duration $transition-timing-function;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;

  color: $hero-text-color;
}

.projects__title {
  color: $secondary-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  padding: 20px 24px 4px;
  margin: 0;
}

.projects__description {
  font-size: 16px;
  line-height: 1.87;

  padding: 0 24px 20px;
  margin: 0;
}
