%no-marker {
  list-style: none;
  padding: 0;
  margin: 0;
}

%logo-span {
  color: #2196f3;
  font-family: Raleway, sans-serif;
}

%footer-text {
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: $hero-text-color;
}

%hidden-header {
  display: none;
}
