$accent-color: #2196f3;
$primary-text-color: #757575;
$secondary-text-color: #212121;
$hero-text-color: #ffffff;
$filter-color: #f5f4fa;
$icon-color: #afb1b8;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
